In [53]:
import pandas as pd 
import numpy as np
import math as m

In [54]:
wine=pd.read_csv('wine.csv')
wine.head()

,Unnamed: 0,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [55]:
wine=wine.drop(wine.columns[0], axis=1)

In [57]:
wine=wine.sample(frac=1)

In [40]:
train_set = len(wine)*0.8

In [41]:
test_set=len(wine)*0.2

In [35]:
train_example=wine.iloc[0:int(train_set):,1:]

In [36]:
#wine.iloc[(int(train_set+1)+1):(int(train_set+1)+1):,1:]

In [37]:
#test=np.concatenate(wine.iloc[(int(train_set+1)+1):(int(train_set+2)+1):,1:14].values)
#predict_KNN(wine,train_example,test,5)

# Classification

In [10]:
def predict_KNN(wine,train_example,test,k):
    wine['Distance']=(train_example[['Alcohol','Malic.acid','Ash','Acl', 'Mg','Phenols','Flavanoids','Nonflavanoid.phenols','Proanth','Color.int','Hue','OD','Proline']] - np.array(test)).pow(2).sum(1).pow(0.5)
    wine=wine.sort_values('Distance')
    sample=wine.iloc[0:k:,0]
    
    cls = {} 
    for item in sample: 
        if (item in cls): 
            cls[item] += 1
        else: 
            cls[item] = 1
            
    final_cls=sorted(cls)  
    return final_cls[0]

In [11]:
#test=np.concatenate(wine.iloc[(int(train_set+1)+4):(int(train_set+2)+4):,1:].values)

In [12]:
#wine=wine.drop(wine.columns[14], axis=1)

In [13]:
#predict_KNN(wine,train_example,test,5)

In [14]:
result=[]
for item in range(len(wine.iloc[(int(train_set+1)+1):(int(train_set+2)+int(test_set)):,1:])):
    test=np.concatenate(wine.iloc[(int(train_set+1)+item):(int(train_set+2)+item):,1:14].values)
    result.append(predict_KNN(wine,train_example,test,19))
    wine=wine.drop(wine.columns[14], axis=1)

In [15]:
final=wine.iloc[(int(train_set+1)+1):(int(train_set+2)+int(test_set)):,]

In [16]:
count=final['Wine'].value_counts()
count

1    14
2    12
3     8
Name: Wine, dtype: int64

In [17]:
cls1 = {} 
for item in result: 
    if (item in cls1): 
        cls1[item] += 1
    else: 
        cls1[item] = 1

In [18]:
cls1

{2: 17, 1: 17}

# Regression with KNN

In [19]:
wine.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
22,1,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.80,1.11,4.00,1035
97,2,12.29,1.41,1.98,16.0,85,2.55,2.50,0.29,1.77,2.90,1.23,2.74,428
131,3,12.88,2.99,2.40,20.0,104,1.30,1.22,0.24,0.83,5.40,0.74,1.42,530
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.65,1.09,3.71,780
74,2,11.96,1.09,2.30,21.0,101,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886

In [20]:
from statistics import mean 
wine['Distance']=(train_example[['Alcohol','Malic.acid','Ash','Acl', 'Mg','Phenols','Flavanoids','Nonflavanoid.phenols','Proanth','Color.int','Hue','OD','Proline']] - np.array(test)).pow(2).sum(1).pow(0.5)
wine=wine.sort_values('Distance')

reg=[]
for i in range(13):
    sample=wine.iloc[0:5:,1+i]
    reg.append(mean(sample))

In [21]:
reg

[12.922,
 2.824,
 2.398,
 19.32,
 101.4,
 1.786,
 1.152,
 0.488,
 1.458,
 7.636,
 0.802,
 1.74,
 683.6]